<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> Add books </title>
    <meta name="description" content="Add books page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="bootstrap.css" rel="stylesheet" >-->
    <link href="/static/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!--<script src="js/bootstrap.js"></script>-->
    <script src="/static/jquery-3.2.0.min.js"></script>
    <script src="/static/main.js"></script>
    <script src="/static/ajax_add_books.js"></script>
    <script>
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        });
    </script>
</head>
<body>
    <input type="text" name="isbn-input" id="isbn-input">
    <input type="button" value="Sent ISBN" id="sent-isbn">

    <span id="isbn-input-message"></span>
    <p id="ajax_response"> response </p>

</body>
</html>
