<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> Add books </title>
    <meta name="description" content="Add books page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="bootstrap.css" rel="stylesheet" >-->
    <link href="/static/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!--<script src="js/bootstrap.js"></script>-->
    <script src="/static/jquery-3.2.0.min.js"></script>
    <script src="/static/main.js"></script>
    <script src="/static/ajax_add_books.js"></script>
    <script>
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        });
    </script>
</head>
<body>
    <h2>You can add book detail that search from Internet using ISBN/ISSN</h2>
    <input type="text" name="isbn-input" id="isbn-input">
    <input type="button" value="Sent ISBN" id="sent-isbn">
    <h4>quick add books option</h4>
    <input type="checkbox" id="auto-add-first">Auto using the first result from Internet<br>
    <span id="isbn-input-message"></span>
    <h2>...or you can just type the detail yourself</h2>
    <div class="add-new-book-detail book-detail-block">
        <label for="title">title : </label>
        <input type="text" name="title" id="title" value=""> <br>
        <label for="subtitle">subtitle : </label>
        <input type="text" name="subtitle" id="subtitle" value=""> <br>
        <label for="authors">authors : </label>
        <button id="add-new-authors">+ Add</button> <br>
        <ul class="authors-container">
        <!-- loop -->
          <li class="author-item">
              <input type="text" name="author" value="">
              <span class="remove-author remove">✗</span>
          </li>
          <!-- loop end -->
        </ul>
        <label for="publisher">publisher : </label>
        <input type="text" name="publisher" id="publisher" value=""> <br>
        <label for="publisheddate">publisheddate : </label>
        <input type="text" name="publisheddate" id="publisheddate" value=""> <br>
        <label for="identifier">identifier : </label> 
        <button id="add-new-identifier">+ Add</button> <br>
        <ul class="identifier-container">
        <!-- loop -->
          <li class="identifier-item">
            <select name="identifier">
                <option value="ISBN_13">ISBN_13</option>
                <option value="ISBN_10">ISBN_10</option>
                <option value="ISSN">ISSN</option>
            </select>
            <input type="text" name="" value="">
            <span class="remove-identifier remove">✗</span>
          </li>
          <!-- loop end -->
        </ul>
        <label for="description">description : </label> 
        <input type="textarea" name="description" id="description" value=""> <br>
        <button id="submit-book-to-store">Submit</button>
    </div>
</body>
</html>
